# gitignore file
*.iml
*.zip
*.class
*~
.idea/
out/
messageHistory/
target/
Server-example/.idea/
Server-example/bin/
Server-example/launcherlog.txt
Server-example/serverlog.txt
Server-example/logfile
CleanCodeProject/log.txt
CleanCodeProject/logfile
CleanCodeProject/msg.txt
Server-example/*.json

