.title {
    color: darkred;
}

.login {
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    font-size: xx-large;
}

.error {
    color: darkred;
}

.input {
    margin: 3px;
}

.label {
    font-size: medium;
}