small {
    font-size: xx-small;
}

.title {
    color: darkred;
}

.login {
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    font-size: xx-large;
}

.fields {
    border-radius: 2px;
}

.error {
    color: darkred;
}

.input {
    margin: 3px;
}