.message {
    margin: 3px;
    width: 60%;
    border-radius: 2px;
    padding: 7px;
    border: 1px solid;
}

.msg-my {
    border-color: darkred;
    background-color: rgba(139,0,0,0.8);
    margin-left: 37%;
    color: white;
}

.msg-friends {
    border-color: rgba(139,0,0,0.8);
    background-color: rgba(139,0,0,0.2);
}

@media screen and (max-width: 670px) {
    .message {
        width: 90%;
    }

    .msg-my {
        margin-left: 0;
    }
}

.removed {
    background-color: lightgray;
    border-color: gray;
    color: gray;
    font-style: italic;
    font-size: small;

}

.img-removed {

}

.edited {

}

.message-author {
    font-weight: bold;
    font-size: large;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 10px;
}

.message-image {
    width: 30px;
    height: 30px;
    float: left;
    border-radius: 2px;
    margin-right: 5px;
}

.message-options {
    font-size: x-small;
    font-style: italic;
    float: right;
    margin-left: 10px;
    margin-top: 10px;
}

.msg-edit {
    width: 98%;
    max-width: 98%;
    height: 100%;
    background-color: rgba(139,0,0,0.1);
    color: white;
}

.btn-edit {
    border: 1px lightgray solid;
    border-radius: 5px;
    background-color: darkred;
    color: white;
    float: left;
}