body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: lightgray;
}

#logo {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

header {
    width: 100%;
    background: darkred;
    position: fixed;
    top: 0;
    padding: 20px;
    box-sizing: border-box;
}

#header-left {
    float: left;
}

#header-right {
    float: right;
    padding: 5px;
}

footer {
    width: 100%;
    background: darkred;
    position: fixed;
    bottom: 0;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
}

#message-history {
    width: 90vw;
    margin: 0 auto;
    padding: 100px 0;
}

#author {
    font-size: x-large;
    color: white;
    font-weight: bold;
    margin-right: 10px;
}

#new-author-textfield {
    border-radius: 2px;
    border: 1px lightgray solid;
    padding: 5px;
}

#update-author-button {
    border-radius: 3px;
    background-color: darkred;
    color: white;
    padding: 5px;
    border: 1px lightgray solid;
}

a {
    color: lightgray;
}

#connection {
    font-size: 30px;
    color: white;
}

#github-link {
    font-size: 30px;

    color: white;
    text-decoration: none;
}

#input-text-container {
    margin-right: 80px;
    margin-left: 10px;
}

#input-text {
    border: 1px grey solid;
    border-radius: 5px;
    width: 100%;
}

#send-button-container {
    width: 80px;
    float: right;
}

#send-button {
    font-size: 30px;
    margin: 5px;
    color: white;
}