body {
    margin: 0;
    padding: 0;
    position: relative;
    overflow-y: auto;
    background-color: lightgray;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    color: white;
}

.header-style {
    margin: 0;
    padding: 20px;
    position: relative;
    color: white;
    background: darkred;
    border-bottom: 1px lightgray solid;
}

#left-column {
    position: relative;
    left: 0;
    top: 0;
    width: 72%;
    height: 100vh;
}

#right-column {
    position: fixed;
    right: 0;
    top: 0;
    width: 28%;
    height: 100%;

    border-left: 2px solid darkred;
}

.personal-info {
    margin-top: 50px;
    margin-bottom: 50px;
    background: darkred;
    padding: 20px;
}

#profile-image {
    width: 20%;
    float: left;
    border-radius: 5px;
    margin-right: 20px;
    border: 2px solid darkred;
}

#username {
    font-size: x-large;
    color: white;
    font-weight: bold;
    margin-left: 20px;
}

.settings {
    background: rgba(139,0,0,0.8);
    margin-top: 10px;
    padding: 10px;
    color: white;
    font-size: large;
}

.username-change {

}

#new-username-textfield {
    border-radius: 3px;
    width: 70%;
    border: 1px lightgray solid;
}

#update-username-button {
    border-radius: 3px;
    width: 20%;
    background-color: darkred;
    color: white;
    border: 1px lightgray solid;
}

a {
    color: lightgray;
}

#new-message-form {
    position: absolute;
    bottom: 20px;
    margin: 20px;
    width: 95%;
}

#input-text {
    border: 1px grey solid;
    border-radius: 5px;
    max-height: 50px;
    min-height: 50px;
    width: 90%;
    max-width: 90%;
    min-width: 90%;
    margin: 5px;
}

#send-button {
    position: absolute;
    border: 1px lightgray solid;
    border-radius: 5px;
    background-color: darkred;
    color: white;
    height: 30px;
    right: 25px;
    font-size: larger;
}